.App{
    font-size: 1.4rem;
    background-color: #101010;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
}

.mainPage{
    text-align: center;
}

.title{
    text-align: center;
    margin: 1rem;
}

.Alert{
    background: #5b5b5b;
    font-size: 1rem;
    text-align: center;
}

.Alert a{
    color: red;
    text-decoration: underline;
}

@media (max-width: 500px){
    .Alert{
        text-wrap: balance;
        width: 100%;
    }
}

@keyframes notice {
    0%{
        transform: scale(0%);
    }
    100%{
        transform: scale(100%);  
    }
}