.App{
    font-size: 1.4rem;
    background-color: #101010;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
}

.mainPage{
    text-align: center;
}

.title{
    text-align: center;
    margin: 1rem;
}



.gallery{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
    gap: 2rem;
    justify-content: center;
}

.Alert{
    background: #5b5b5b;
    font-size: 1rem;
    text-align: center;
}

.Alert a{
    color: red;
    text-decoration: underline;
}

.supplements {
    text-align: center;
}

.supplements .selectType{
    margin: 1.5rem 1rem;
    padding-left: 100rem;
    border: none;
    appearance: none;
    padding: 0.5rem;
    width: 30vh;
    color: #FFFFFF;
    background-color: rgb(255, 0, 0);
    font-size: 1.6rem;
    font-weight: bold;
}

.supplements .selectType option{
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.supplements h4{
    margin: 0px auto;
    width: 70vh;
    font-size: 1.4rem;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    animation: notice 800ms ease-in;
}

@media (max-width: 500px){
    .Alert{
        text-wrap: balance;
        width: 100%;
    }
    
    .supplements h4{
        width: 100%;
    }   
}

@keyframes notice {
    0%{
        transform: scale(0%);
    }
    100%{
        transform: scale(100%);  
    }
}