.App{
    background-color: #101010;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
}

.mainPage{
    text-align: center;
}

.title{
    text-align: center;
    margin: 1rem;
}

.selectType{
    margin: 0px auto;
    width: 9rem;
    height: 2rem;
    font-size: 100%;
}

.gallery{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
    gap: 2rem;
    justify-content: center;
}