
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    overflow: hidden;
    border:2px groove red ;  
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
}
.card:hover{
    box-shadow: 0 2px 30px lightgray;
}

.card .cardImg{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card .cardTitle{
    padding: 1rem;
    font-size: 1.18rem;
    text-decoration: underline;
}

.card .cardInfo{
    padding: 0;
}

.card .cardPrice{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid red;
    background: transparent;
    color: red;
    border-radius: 0.2rem;
    transition: background 300ms ease-in, color 500ms ease-in;
}

.card .cardPrice:hover{
    background: red;
    color: black;
}